{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}What to do?{% endblock title %}</title>
    {% block main_styles %}
        <link rel='stylesheet' href='{% static "todos/css/stylesheet.css" %}'>
    {% endblock main_styles %}
    {% block extra_styles %}{% endblock extra_styles %}
    {% block js_head %}{% endblock js_head %}
</head>
<body>
    <nav class='navigation'>
            <a href="{% url 'todos:index' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
    </nav>
    {% block content %}{% endblock content %}
    {% block js_body %}{% endblock js_body %}
</body>
</html>