{% extends "todos/base.html" %}

{% block extra_styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">    
{% endblock extra_styles %}

{% block content %}
    <div id='app'>
        <h1>Welcome to your todo list!</h1>

        <form action="{% url 'todos:add_todo' %}" method='POST'>
            {% csrf_token %}            
            <input id='todo-input' type='text' name='todo' placeholder='Enter a task...' />
            <button type='submit'></button>
        </form>

        <ul id='todos-container'>
            {% for todo in todos %}
                <li>
                    {{ todo }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}