@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body {
  background-color: #EEEEEE;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
}

#app {
    padding: 5% 10%;
    width: 50%;
}

.navigation {
  padding: 10px;
  margin-bottom: 20px;
}

nav a {
  padding: 10px;
  text-decoration: none;
  background: #fff;
  border-radius: 3px;
  color: rgb(0, 110, 255);
  font-weight: bold;
  margin-right: 15px;
}

.holder {
  background: #fff;
}

ul#todos-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul#todos-container > li {
  padding: 20px;
  font-size: 1.3em;
  background-color: #E0EDF4;
  border-left: 5px solid #3EB3F6;
  margin-bottom: 2px;
  color: #3E5252;
  overflow: hidden;
}

ul#todos-container > li.completed {
  background-color: #b7b7b7;
  border-left: 5px solid #3E5252;
  text-decoration-line: line-through;
}

p {
  text-align:center;
  padding: 30px 0;
  color: gray;
}

.container {
  box-shadow: 0px 0px 40px lightgray;
}

#todo-input,
#todo-list-input {
  width: calc(100% - 40px);
  border: 0;
  padding: 20px;
  font-size: 1.3em;
  background-color: #323333;
  color: #687F7F;
}

button {
  display: none;
}

.input-container {
  display: flex;
  width: 100%;
}

#todo-list-input {
  flex: 4;
}

.input-span-next {
  display: flex;
  padding: 20px;
  border: none;
}


a {
  color: #323333;
}

i {
float:right;
padding-left: 1em;
cursor:pointer;
}

i:hover {
  opacity: 0.6;
}

.input-span-next > i {
  padding: 0;
}